<!doctype html>
<html> 
<head>
<title> Personal Page </title>
</head>
<body>
<p> This site which is supposed to be my personal information page is under construction, Please checkout <a href="https://github.com/shashwot2/KcPersonalWebsite"> my github </a> for this project </p>
</body>
</html>